<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>sandbox02</h1>

    <div>
      <div>
        <label
          >value01
          <input id="value01" type="text" />
        </label>
      </div>
      <div>
        <label
          >value02
          <input id="value02" type="text" />
        </label>
      </div>
    </div>

    <button id="get">get</button>
    <button id="post">post</button>

    <script>
      (function () {
        const value01Elem = document.getElementById("value01");
        const value02Elem = document.getElementById("value02");
        const getElem = document.getElementById("get");
        const postElem = document.getElementById("post");

        getElem.addEventListener("click", async () => {
          const value01 = value01Elem.value;
          const value02 = value01Elem.value;

          const param = new URLSearchParams();
          param.append("value01", value01);
          param.append("value02", value02);

          const r = await fetch(`/sandbox02/get?${param.toString()}`);
          console.log(await r.text());
        });

        postElem.addEventListener("click", async () => {
          const value01 = value01Elem.value;
          const value02 = value01Elem.value;

          const param = {
            value01,
            value02,
          };

          const r = await fetch(`/sandbox02/post`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify(param),
          });
          console.log(await r.text());
        });
      })();
    </script>
  </body>
</html>
