<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>login</h1>

    <div>
      <form id="form">
        <div>
          <label>
            username:
            <input type="text" id="username" />
          </label>
        </div>
        <div>
          <label>
            password:
            <input type="password" id="password" />
          </label>
        </div>
        <div>
          <button type="submit">ログイン</button>
        </div>
      </form>
      <div>
        <button id="printUser">サーバー確認</button>
        <button id="logout">ログアウト</button>
      </div>
      <div>
        <button id="private">private</button>
        <button id="public">public</button>
      </div>
    </div>

    <script>
      (function () {
        const form = document.getElementById("form");
        const usernameElem = document.getElementById("username");
        const passwordElem = document.getElementById("password");

        const printUserElem = document.getElementById("printUser");
        const logoutElem = document.getElementById("logout");

        const privateElem = document.getElementById("private");
        const public = document.getElementById("public");

        form.addEventListener("submit", async (ev) => {
          ev.preventDefault();

          const param = {
            username: usernameElem.value,
            password: passwordElem.value,
          };

          const resp = await fetch(`/login`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(param),
          });

          console.log(resp);
        });

        printUserElem.addEventListener("click", async () => {
          const resp = await fetch(`/printUser`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({}),
          });
          console.log(resp.status + ":" + (await resp.text()));
        });

        logoutElem.addEventListener("click", async () => {
          const resp = await fetch(`/logout`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({}),
          });
          console.log(resp.status + ":" + (await resp.text()));
        });

        privateElem.addEventListener("click", async () => {
          const resp = await fetch(`/private`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({}),
          });

          console.log(resp.status + ":" + (await resp.text()));
        });

        public.addEventListener("click", async () => {
          const resp = await fetch(`/public`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({}),
          });
          console.log(resp.status + ":" + (await resp.text()));
        });
      })();
    </script>
  </body>
</html>
